.center-bar {
  background-color: #eee;
  min-height: 100vh;
}
.title-container {
  background-color: darkred;
  color: white;
  margin-bottom: 15px;
  margin-top: 1px;
  padding: 1px;
  padding-top: 5px;
}

.pixel {
  background: white;
  float: left;
  padding: 0;
  text-align: center;
  display: table-cell;
}

.image-row {
  clear: both;
  display: table;
  float: left;
}

.warning-entry {
  color: red
}

.info-text {
  width: 300px;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
  font-size: xx-small;
}